@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  .header__content {
    min-height: 85vh;
  }

  .header__content h1 {
    font-size: 100px;
  }

  .header__content-link {
    width: 230px;
    height: 44px;
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .nav__logo img {
    width: 55px;
    height: 68px;
  }

  .nav__list {
    gap: 60px;
  }

  .header__content h1 {
    font-size: 80px;
  }

  .info__content-item {
    max-width: 440px;
  }

  .info__content-item h2 {
    font-size: 32px;
  }

  .info__content-item p {
    font-size: 16px;
  }

  .info__content {
    flex-direction: column;
  }

  .info__content-item {
    max-width: 100%;
  }

  .info__content-item h2,
  .info__content-item p {
    width: 100%;
    text-align: center;
  }

  .info {
    padding: 60px 0;
  }
  .gallery__content {
    align-items: center;
    display: flex;
  }
  .gallery__content h2 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .nav__list {
    gap: 40px;
  }

  .header__content h1 {
    font-size: 60px;
  }
  .gallery__content-top {
    flex-direction: column;
    width: 100%;
  }
  .gallery__content-top div {
    width: 100%;
  }
  .gallery__content-top img {
    width: 100%;
  }
  .footer__content {
    /* flex-direction: column; */
    gap: 60px;
    justify-content: start;
    gap: 30px;
  }

}

@media (max-width: 576px) {
  .nav__list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #141414;
    flex-direction: column;
    padding: 16px;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
  }

  .toggle-menu {
    display: flex;
  }

  .nav input[type="checkbox"]:checked ~ .nav__content .nav__list {
    transform: scaleY(1);
  }

  .nav
    input[type="checkbox"]:checked
    ~ .nav__content
    .toggle-menu
    span:nth-child(2) {
    display: none;
  }

  .nav
    input[type="checkbox"]:checked
    ~ .nav__content
    .toggle-menu
    span:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 50%c;
  }

  .nav
    input[type="checkbox"]:checked
    ~ .nav__content
    .toggle-menu
    span:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 50%c;
  }

  .header__content h1 {
    font-size: 48px;
  }

  .header__content-link {
    width: 200px;
    font-size: 16px;
  }

  .header__content {
    min-height: 60vh;
  }

  .gallery__content-top div {
    width: 100%;
  }
  .gallery__content-top img {
    width: 100%;
  }
  .about img {
    display: none;
  }
  .about__content {
    font-size: 20px;
  }
  .about__content p {
    font-size: 16px;
  }
  .footer__content {
    flex-direction: column;
    gap: 60px;
    justify-content: start;
    gap: 30px;
  }
}
